.record-card-root {
  .record-card {
    display: flex;
    flex-direction: column;
    min-height: 130px;
    max-height: 130px;

    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
    }

    .desc {
      font-size: var(--fs-sm);
      word-break: break-all;
    }

    .record-date-time {
      float: right;
      font-size: var(--fs-sm);
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .currency-container {
        display: flex;
        column-gap: var(--sp-md);
        justify-content: flex-end;
        align-items: flex-end;
        font-size: var(--fs-lg);
      }
    }
  }

  .date {
    margin-top: var(--sp-xs);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: var(--sp-md);
    opacity: 0.6;
    font-size: var(--fs-sm);
    text-align: right;
    justify-self: flex-end;
  }

  &[data-loose="true"] {
    .record-card {
      max-height: unset;
    }
  }
}
