.sheet-media-root {
  input {
    display: none;
  }

  .media-container {
    overflow-y: auto;
    max-height: 100%;

    .media-virtualize {
      width: 100%;
      position: relative;
    }
  }
}
