.card-root {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-xs);
  background-color: var(--clr-neu-800);
  padding: var(--sp-lg);
  overflow: hidden;

  animation: fadeIn var(--ts-slow), rightSlideIn var(--ts-slow);

  transition: outline var(--ts-fast), transform var(--ts-fast),
    background-color var(--ts-fast), color var(--ts-fast);

  .header {
    flex-shrink: 0;
    display: flex;
    column-gap: var(--sp-lg);
    justify-content: space-between;
    align-items: center;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
      font-weight: var(--fw-semi-bold);
    }
  }

  &[data-active="true"] {
    transform: scale(0.98);
  }

  &[data-selected="true"] {
    outline: 2px solid var(--clr-pri-400);
    color: var(--clr-pri-400);
  }
}
