.sheet-card-root {
  min-height: 100px;

  .content {
    flex: 1;
  }

  .desc {
    font-size: var(--fs-sm);
  }

  .totals {
    display: flex;
    padding-top: var(--sp-sm);
    padding-bottom: var(--sp-sm);
    text-align: right;

    > div {
      flex: 1;
    }
  }

  .date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: var(--sp-md);
    opacity: 0.6;
    font-size: var(--fs-sm);
    text-align: right;
    justify-self: flex-end;
  }
}
