.date-picker-root {
  position: relative;

  .date-picker-input {
    position: relative;
    height: 40px;
    border-radius: var(--radius-xl);
    padding: var(--sp-md);
    padding-left: var(--sp-xl);
    padding-right: var(--sp-xl);
    border: none;
    width: 100%;
    outline-color: transparent;
    transition: outline-color var(--ts-normal);
    background-color: var(--clr-neu-800);

    &:focus {
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--clr-pri-400);
      color: var(--clr-pri-400);
    }

    &[data-has-val="false"]:before {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      width: 50%;
      content: attr(placeholder);
      background-color: var(--clr-neu-800);
      color: hsl(from var(--clr-neu-100) h s l / 0.35);
    }

    appearance: none;
  }

  svg {
    position: absolute;
    top: 50%;
    right: var(--sp-xl);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    pointer-events: none;
    background-color: var(--clr-neu-800);
  }
}
