.menu-dialog {
  .option {
    text-align: center;
    padding: var(--sp-xl);

    &:active {
      background-color: var(--clr-pri-400);
    }

    &:nth-child(n + 2) {
      border-top: 1px solid var(--clr-neu-700);
    }
  }
}
