:root {
  --clr-pri-400: hsl(355, 68%, 80%);
  --clr-pri-500: hsl(355, 68%, 60%);

  --clr-neu-100: hsla(0, 0%, 87%);

  --clr-neu-700: hsl(0, 0%, 34%);
  --clr-neu-800: hsl(0, 0%, 24%);
  --clr-neu-900: hsl(0, 0%, 14%);
  --clr-neu-1000: hsl(0, 0%, 10%);

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-xs: 0.5em;
  --fs-sm: 0.75em;
  --fs-md: 1em;
  --fs-lg: 1.25em;
  --fs-xl: 2em;

  --sp-sm: 0.25em;
  --sp-md: 0.5em;
  --sp-lg: 0.75em;
  --sp-xl: 1em;
  --sp-xxl: 1.5em;

  --ts-fast: 0.1s;
  --ts-normal: 0.25s;
  --ts-slow: 0.5s;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--fs-md);
  line-height: 1.5;

  color-scheme: light dark;
  color: var(--clr-neu-100);
  background-color: var(--clr-neu-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: var(--clr-pri-400);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--clr-neu-900);
    background-color: var(--clr-neu-100);
  }
}
